.dailog {
  border: 5px solid lightgray;
  border-radius: 5px;
  height: 100px;
  background-color: azure;
  margin: 0 auto;
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.dailog__content {
  padding: 20px;
  background-color: bisque;
}

.dailog__icon {
  position: absolute;
  right: 15px;
}

.dailog.close {
  display: none;
}

.dailog.open {
  display: block;
}
